.trainer__container {
  width: 97%;
  padding-top: 2.5rem;
}

.tc__header {
  margin-top: 1.3rem;
  font-size: 2.3rem;
  font-weight: 600;
}

.progress__outer {
  width: 100%;
  background: #2a2a2e;
  height: 0.9rem;
  border-radius: 6rem;
  margin-top: 2rem;
}

.progress__inner {
  background: #cdcdcd;
  height: 0.9rem;
  border-radius: 6rem;
}

.boxes {
  display: flex;
  margin-top: 3rem;
}

.box {
  border: 1px solid #dfdfdf;
  background: rgb(220 220 220 / 5%);
  width: fit-content;
  padding: 1rem 1.31rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  width: 22%;
}

.box__header {
  color: #dfdfdf;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.box__content {
  color: white;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
}