.trainer__container {
    width: 97%;
    padding-top: 2.5rem;
}

.tc__header {
    margin-top: 1.3rem;
    font-size: 2.3rem;
    font-weight: 600;
}

.progress__outer {
    width: 100%;
    background: #2a2a2e;
    height: 0.9rem;
    border-radius: 6rem;
    margin-top: 2rem;
}

.progress__inner {
    background: #cdcdcd;
    height: 0.9rem;
    border-radius: 6rem;
}