@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Chewy&family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  position: relative;
  color: white;
  height: 100vh;
  /* background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  ); */
  background-color: #01021b !important;
  font-family: sans-serif;
  overflow-y: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}


/* #0d092c */